*{
    padding: 0;
    margin: 0;
}
#bg{
    display: flex;
    width: 100vw;
height: 100vh;
flex-shrink: 0;
background: rgba(0, 0, 0, 0.40);
background-image: url(junk/Group\ 177.png);
}
#para{
    margin: auto;
    justify-content: center;
    text-align: center;
/* leading-trim: both;
text-edge: cap; */
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Poppins;
font-size: 50.293px;
font-style: normal;
font-weight: 50px;
line-height: normal;
text-transform: uppercase;
background: var(--gradient, linear-gradient(271deg, #B08A5C 11.68%, #F8DA63 69.04%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.background{
    width: 100vw;
height: 2000px;
flex-shrink: 0;
/* background: url(<path-to-image>), lightgray 0px -71px / 100% 105.338% no-repeat; */
background-image: url(junk/Blueprint.png);
}
.grid-container{
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: 500px; */
    /* grid-row-gap: 350px; */
    /* grid-row-gap: 80px;
    grid-column-gap: 80px; */
    grid-gap: 100px;
    align-items: center;
    margin: 150px;
}
.first{
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 304.525px;
height: 400.663px;
flex-shrink: 0;
border-radius: 7.048px;
background: #FFF;
box-shadow: 0px 0px 18.254px 0px rgba(0, 0, 0, 0.20);
}
#heading-1{
    text-align: center;
font-family: Poppins;
font-size: 30.24px;
font-style: normal;
font-weight: 500;
line-height: 112.5%; /* 39.645px */
text-transform: capitalize;
background: linear-gradient(270deg, #B08A5C 45.21%, #F8DA63 111.5%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 8px;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
#para-1{
    color: #000;
font-family: Inter;
font-size: 10.506px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 27.135px */
letter-spacing: 0.31px;
text-transform: capitalize;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Ubuntu', sans-serif;

}
.second{
    overflow: auto;
    text-align: center;
    padding: 5px;
    width: 600.607px;
height: 400.663px;
flex-shrink: 0;
border-radius: 7.078px;
background: #FFF;
box-shadow: 0px 0px 18.331px 0px rgba(0, 0, 0, 0.20);
}
#heading-2{
    padding: 8px;
    text-align: center;
font-family: Poppins;
font-size: 35.388px;
font-style: normal;
font-weight: 500;
line-height: 112.5%; /* 39.811px */
text-transform: capitalize;
background: linear-gradient(270deg, #B08A5C 45.21%, #F8DA63 111.5%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.ul{
    overflow: auto;
    color: #000;
font-family: Inter;
font-size: 10.571px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 27.249px */
letter-spacing: 0.311px;
text-transform: capitalize;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.third{
    margin-top: 200px;
    text-align: center;
    padding: 5px;
    overflow: auto;
    width: 304.525px;
    align-items: center;
    margin-top: 50px;
height: 400.663px;
flex-shrink: 0;
border-radius: 7.244px;
background: #FFF;
box-shadow: 0px 0px 18.763px 0px rgba(0, 0, 0, 0.20);
}
.heading-3{
    text-align: center;
font-family: Poppins;
font-size: 30.24px;
font-style: normal;
font-weight: 500;
line-height: 112.5%; /* 39.645px */
text-transform: capitalize;
background: linear-gradient(270deg, #B08A5C 45.21%, #F8DA63 111.5%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding: 8px;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
#para-3{
    color: #000;
    font-family: Inter;
    font-size: 10.506px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 27.135px */
    letter-spacing: 0.31px;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    
}
.four{
    margin-top: 200px;
    text-align: center;
    padding: 5px;
    overflow: auto;
    width: 600.607px;
    height: 400.663px;
    align-items: center;
    margin-top: 50px;
flex-shrink: 0;
border-radius: 7.244px;
background: #FFF;
box-shadow: 0px 0px 18.763px 0px rgba(0, 0, 0, 0.20);
}
#para-4{
    overflow: auto;
    color: #000;
font-family: Inter;
font-size: 10.571px;
font-style: normal;
font-weight: 400;
line-height: 175%; /* 27.249px */
letter-spacing: 0.311px;
text-transform: capitalize;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
#heading-4{
    padding: 8px;
    text-align: center;
font-family: Poppins;
font-size: 35.388px;
font-style: normal;
font-weight: 500;
line-height: 112.5%; /* 39.811px */
text-transform: capitalize;
background: linear-gradient(270deg, #B08A5C 45.21%, #F8DA63 111.5%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Silkscreen', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
#block{
    margin: auto;
    width: 1064.715px;
height: 800.567px;
flex-shrink: 0;
border-radius: 7.618px;
background: #FFF;
box-shadow: 0px 0px 19.729px 0px rgba(0, 0, 0, 0.20);
}